[Desktop Entry]
Name=Plexamp
Exec=env APPIMAGELAUNCHER_DISABLE=1 DESKTOPINTEGRATION=0 /usr/bin/Plexamp.AppImage --disable-seccomp-filter-sandbox --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
Type=Application
Icon=plexamp
StartupWMClass=plexamp
X-AppImage-Version=4.3.0
Comment=The best little audio player on the planet
Categories=AudioVideo;
