* {
  font-size: 36px;
  font-family: 'InconsolataLGC Nerd Font Mono';
}

window#waybar {
  color: #fdf6e3;
  background: #292b2e;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
  background: #292b2e;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}
/* fix issue with arrow (character doesn't stretch all the way to the right
 * extents) */
#custom-left-arrow-light,
#custom-left-arrow-dark {
  margin-right: -1px;
}

#clock,
#cpu,
#custom-waylogout,
#disk,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces {
  background: #1a1a1a;
  padding: 0 20px;
}

#workspaces button {
  color: #fdf6e3;
  padding: 0;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
}

#clock {
  color: #abb2bf;
}
#cpu {
  color: #6c71c4;
}
#custom-waylogout {
  color: #ffffff;
}
#disk {
  color: #b58900;
}
#memory {
  color: #2aa198;
}
#network {
  color: #c678dd;
}
#pulseaudio {
  color: #268bd2;
}
