* {
  font-size: 36px;
  font-family: "Inconsolata LGC Nerd Font Mono";
}

window#waybar {
  color: #fdf6e3;
  background: #292b2e;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
  background: #292b2e;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}
/* fix issue with arrow (character doesn't stretch all the way to the right
 * extents) */
#custom-left-arrow-light,
#custom-left-arrow-dark {
  padding: 0;
  margin: 0;
  /* border: 1px solid blue; */
}

#clock,
#cpu,
#custom-logout,
#disk,
#memory,
#network,
#custom-vpn,
#pulseaudio,
#tray {
  background: #1a1a1a;
  padding: 0 20px;
  margin: 0;
}

#network {
  padding: 0 10px;
}
#custom-vpn {
  padding: 0 20px 0 10px;
}

#workspaces {
  background: #1a1a1a;
  padding: 0 10px;
  margin: 0;
}
#workspaces button {
  color: #fdf6e3;
  padding: 0 10px;
  margin: 0;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
}

#clock {
  color: #abb2bf;
}
#cpu {
  color: #6c71c4;
}
#custom-logout {
  color: #ffffff;
}
#disk {
  color: #b58900;
}
#memory {
  color: #2aa198;
}
#network,
#custom-vpn {
  color: #c678dd;
}
#pulseaudio {
  color: #268bd2;
}
